.footer-container {
    color: map-get($colors, 'white');
    height: 4rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: map-get($colors, 'gradient-footer');
}
