$underline: map-get($colors, 'primary-purple');
$background-color: map-get($colors, 'gradient-footer');

.header-container {
    z-index: 1;
    background-image: $background-color;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    cursor: pointer;
}
