$text-color: map-get($colors, 'white');
.root {
    width: 1920px;
    height: 1080px;
}
.login-container {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: calc(50% - 960px);
    top: calc(50% - 540px);
    background-image: url('../image/Log_in_out.png');
}
.login-box1 {
    width: 1830px;
    height: 1080px;
    position: absolute;
    left: calc(50% - 915px);
    top: calc(50% - 540px);
    background-image: url('../image/Log_in_in.png');
}
.login-logo1 {
    width: 230px;
    height: 230px;
    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 115px);
}
.login-box2 {
    width: 560px;
    height: 780px;
    top: calc(50% - 390px);
    left: calc(50% + 180px);
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

.login-container input[type='text'],
.login-container input[type='password'] {
    width: 432px;
    height: 38px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    margin-bottom: 5px;
    background-color: rgb(200, 220, 220);
}
.login-box2-login-img {
    top: 100px;
    left: 100px;
    width: 100px;
    position: relative;
}
.login-box2-login-img .img1 {
    width: 100px;
    height: 45px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.login-box2-login-form {
    top: 200px;
    left: 64px;
    width: 432px;
    position: relative;
    text-align: left;
}
.login-box2-login-form p {
    font-size: 15px;
    padding: 8px;
    padding-top: 20px;
    color: white;
}
.chk_keep_login {
    color: white;
    padding-top: 20px;
}
.chk_keep_login span {
    color: white;
}
.btn_login {
    width: 432px;
    height: 38px;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-image: linear-gradient(
        to right,
        #1245ab,
        #002187,
        #000f75,
        #00003f
    );
    cursor: pointer;
}
.login-box2-login-form hr {
    margin-top: 80px;
}
