$highlight-text-color: map-get($colors, 'gradient-footer');
$underline: map-get($colors, 'primary-purple');
$background-color: map-get($colors, 'white');

.main-header-container {
    z-index: 2;
    background-color: $background-color;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: 8fr 2fr;

    & > img {
        margin-left: 4rem;
    }

    & .menu-wrapper {
        float: right;

        & .menu-button {
            font-size: 1rem;
            @include custom-button-basic();
        }

        & .menu-button:hover {
            background: $highlight-text-color;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            border-bottom: 2px solid $underline;
            transition: all 0.3s ease;
        }
    }
}
