$text-color: map-get($colors, 'white');
.join-container {
    width: 100%;
    height: calc(100% - 140px);
    background-color: #eaeaea;
    min-height: 800px;
    input[type='text'] {
        @include custom-input-basic();
        padding-left: 10px;
        height: 26px;
        border-radius: 15px;
        border: 1px solid gray;
        width: calc(100% - 10px);
        margin-bottom: 5px;
    }
    input[type='password'] {
        @include custom-input-basic();
        padding-left: 10px;
        height: 26px;
        border-radius: 15px;
        border: 1px solid gray;
        width: calc(100% - 10px);
        margin-bottom: 5px;
    }
}
.join-title {
    font-size: 30px;
    font-weight: 800;
    padding-top: 40px;
}
.join-box {
    width: 442px;
    height: 100%;
    background-color: #eaeaea;
    display: inline-block;
}
.join-inbox {
    width: 380px;
    display: inline-block;
    padding-top: 20px;
}
p {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 20;
    padding-bottom: 5px;
}
.join-inbox-1 {
    display: inline-block;
    padding-top: 25px;
    width: 380px;
}
.join-inbox-2-1 {
    display: inline-block;
    padding-top: 25px;
    width: 180px;
    text-align: left;
}
.join-inbox-2-2 {
    display: inline-block;
    padding-top: 25px;
    width: 180px;
    text-align: left;
    margin-left: 20px;
}
.mergeInput {
    button {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        cursor: pointer;
        font-size: 12px;
        width: 70px;
        height: 26px;
        border-radius: 15px;
        border: 1px solid gray;
        background-color: white;
        float: right;
    }
    height: 26px;
    border-radius: 15px;
    border: 1px solid gray;
    width: 100%;
    background-color: white;
    input[type='text'] {
        border: none;
        width: 295px;
        float: left;
    }
}
.join-inbox-3 {
    padding-top: 35px;
    button {
        @include custom-button-basic();
        border: 1px solid gray;
        border-radius: 0px;
        margin: 15px;
        width: 115px;
        height: 26px;
        font-size: 15px;
        padding: 0px;
        &:nth-child(1) {
            background-color: #1c1a62;
            color: white;
        }
        &:nth-child(2) {
            background-color: white;
            color: black;
        }
    }
}
