.dream-container {
    padding-top: 12rem;

    & .intro-container {
        height: 36rem;
        background-image: url('../image/bg-main.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & .intro-wrapper {
            text-align: left;
            padding: 2.5rem;
            font-size: 2.5rem;
            background-color: #1b1b5f;
            box-shadow: 0 0.5rem 2rem 1.5rem rgba(0, 0, 0, 0.05);
            color: white;
            width: 30%;
            float: right;

            & > span {
                color: white;
                font-weight: 200;
                font-size: 1.5rem;
            }
        }
    }
}
